.ova-heading {

    .title {
        white-space: pre-line;
        font-weight: 400;
        font-size: 40px;
        line-height: 56px;
        margin: 0;
        padding: 0;
        color: var(--heading);
        text-transform: uppercase;
    }
    
}