.ova-package {
    transition: all .3s ease;
    &:hover {
        transition: all .3s ease;
        .icon {
            i {
                transition: all .3s ease;
                transform: scale(1.2,1.2);
                -webkit-transform: scale(1.2,1.2);
                -moz-transform: scale(1.2,1.2);
                -o-transform: scale(1.2,1.2);
                -ms-transform: scale(1.2,1.2); 
            }
        }
    }
    .image {
        img {
            width: 100%;
            height: auto;
            vertical-align: middle;
        }
    }

    .align-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -36px;

        .icon {
            transition: all .3s ease;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 72px;
            width: 72px;
            border-radius: 50%;
            background-color: var(--heading);
            position: relative;
            overflow: hidden;
            &:hover {
                transition: all .3s ease;
            }
            i {
                transition: all .3s ease;
                font-size: 32px;
                color: #fff ;
            }
        }
    }

    .info {
        padding: 20px;
        .title {
            text-align: center;
            &:hover {
                transition: all .3s ease;
            }
            transition: all .3s ease;
            margin: 0;
            padding-bottom: 24px;
            padding-top: 14px;
            color: var(--heading);
            font-size: 22px;
            font-weight: 400;
            line-height: 33px;
            text-transform: uppercase;
        }
    
        .items {
            position: relative;
            -webkit-transition: all .3s ease;
			-o-transition: all .3s ease;
            transition: all .3s ease;
            margin: 0 auto;
            width: max-content;
            padding-bottom: 14px;
            color: var(--heading);
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 500;
            line-height: 21px;

            &:before{
                position: absolute;
                content: '';
                width: 0%;
                height: 1px;
                left: 0;
                bottom: 12px;
                transition: all .5s ease;
                background-color: var(--primary);
            }

            &:hover{
                color: var(--primary);
                &:before{
                    width: 100%;
                }
            }
        }
    }
}